name: Master CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout latest code
      uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1.3.0
      with:
        java-version: 1.8

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload build artifact
        uses: actions/upload-artifact@v1
        with:
          name: chaos-kraken.jar
          path: build/libs/chaos-kraken-0.0.1-SNAPSHOT.jar
